{% extends 'headerfooter.html' %}
{% block content %}


        
        <!-- Image Gallery -->
        <section class="section-padding">
            <div class="container">
                <div class="row mb-5 animate-box" data-animate-effect="fadeInUp">
                    <div class="col-md-4">
                        <div class="sub-title border-bot-light">Images</div>
                    </div>
                    <div class="col-md-8">
                        <div class="section-title"> Gallery</div>
                        
                    </div>
                </div>
                <div class="row">
                    {% for x in data %}
                    <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                       <!--  <a href="/static/images/slider/1.jpg" title="Image Gallery" class="img-zoom"> -->
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="{{x.image.url}}" width="356" height="237.33" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                            </div>
                        
                    </div>
                    {% endfor %}
                </div>
                   
                    <!-- <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                        <a href="/static/images/slider/2.jpg" title="Image Gallery" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="/static/images/slider/2.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item animate-box" data-animate-effect="fadeInUp">
                        <a href="/static/images/slider/3.jpg" title="Image Gallery" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="/static/images/slider/3.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInUp">
                        <a href="/static/images/slider/4.jpg" title="Image Gallery" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="/static/images/slider/4.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInUp">
                        <a href="/static/images/slider/5.jpg" title="Image Gallery" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="/static/images/slider/5.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </section>
        
       {% endblock %}   