{% extends 'headerfooter.html' %}
{% block content %}
     
     <!-- Contact -->
        <div class="contact section-padding">
            <div class="container">
                <div class="row mb-5 animate-box" data-animate-effect="fadeInUp">
                    <div class="col-md-4">
                        <div class="sub-title border-bot-light">Service</div>
                    </div>
                    <!-- <div class="col-md-8">
                        <div class="section-title">Get in touch</div>
                    </div> -->
                </div>
               
                    <!-- <div class="col-md-4 offset-md-4 animate-box" data-animate-effect="fadeInUp">
                         Contact Info -->
                        <!-- <p>1616 Broadway NY, New York 10001<br>United States of America.</p>
                        <div class="phone">+1 203-123-0606</div>
                        <div class="mail mb-3">info@architect.com</div>
                        <div class="social mt-2"> 
                            <a href="/"><i class="ti-twitter"></i></a> 
                            <a href="/"><i class="ti-instagram"></i></a> 
                            <a href="/"><i class="ti-linkedin"></i></a> 
                        </div>
                    </div> --> 
         <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        <h4 class="mb-4"> Book Now</h4>
                        <form method="post"  action="/get/">
                            {% csrf_token %}
                            <!-- Form message -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert"> Your message was sent successfully. </div>
                                </div>
                            </div>
                            <!-- Form elements -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Your Name *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="phone" type="text" placeholder="Your Number *" required>
                                </div>
                               <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *" required></textarea>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <input name="submit" type="submit" value="Send Message">
                                </div>
                            </div>
                        </form>
                    </div>
                         
            </div>
        </div>

        
             
         {% endblock %}   