{% extends 'headerfooter.html' %}
{% block content %}

         


         <!-- Contact -->
        <div class="contact section-padding">
            <div class="container">
                <div class="row">
                <div class="row mb-5 animate-box" data-animate-effect="fadeInUp">
                    <div class="col-md-4">
                        <div class="sub-title border-bot-light">Service Booking</div>
                    </div>
                    
                
                    
                    <!-- form -->
                    
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                                               <h4 class="mb-4"> Book Now</h4>
                        <form method="post"  action="/get/?sid={{details}}">
                            {% csrf_token %}
                                                       
                            <!-- Form elements -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="email" type="text" placeholder="Your Email *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Your Name *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="phone" type="text" placeholder="Your Number *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Address *" required></textarea>
                                </div>
                              
                                <button onclick="myFunction()">Submit </button>

                                <script>
                                function myFunction() {
                                  alert("Successfully Booked");
                                }
                                </script>

                            </div>
                        </form>
                      
                    </div>

                      
                </div>
                </div>
            </div>
        </div>

{% endblock %}   
   
     
    
                    
                
                   
         
        
        