{% extends 'headerfooter.html' %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script type="text/javascript">
   {% if success %}
  swal("{{success}}", "","success");
  {% elif error %}
  swal("{{error}}","", "error");
  {% endif %}
  </script>

<style>
h1 {
  text-align: center;
  text-shadow: 2px 2px black;
   position: relative;
  text-align: center;
  color: white
}
</style>
       <!-- Logo & Menu Burger -->
        <div class="preloader-bg"></div>
        <div id="preloader">
            <div id="preloader-status">
                <div class="preloader-position loader"> <span></span> </div>
            </div>
        </div>
         <!-- Slider -->
           
        
          <header id="slider-area" class="header slider-fade">
            <div class="owl-carousel owl-theme"> 

                <div class="text-left item bg-img" data-overlay-dark="1" data-background="/static/images/slider/2.jpg">
                    <div class="v-middle caption">
                       
                           
                               <!--  <div class="col-md-7"> -->
                                   
                                    <h1>Kenz Architects and Interiors </h1>
                                    
                                     
                               <!--  </div> -->
                           
                       
                    </div>
                </div>
              
            </div>
            
        </header>
        <!-- About -->
         
        <section class="about section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInUp">
                        <div class="sub-title border-bot-light">Who are we?</div>
                    </div>
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="section-title">Kenz Architects and Interiors</div>
                        <p>We are specialized in Architecture & Interior Designs. Our Office is based in Kerala, we provide online service worldwide. We are proud to be rated as one of the Best & Most Trusted service providers in the respective field.​ Our mission is to give our Clients the most effective, efficient and beautiful concept for their architectural needs in the best and most friendly way possible. We give great attention to details and preferences provided by our Customers.
                        </p><br>
                        <div class="row">
                            <div class="col col-md-4">
                                <div class="about-box">
                                    <img src="/static/images/icon-1.png" class="icon" alt="">
                                    <h5>Architecture</h5>
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <div class="about-box">
                                    <img src="/static/images/icon-2.png" class="icon" alt="">
                                    <h5>Interior</h5>
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <div class="about-box">
                                    <img src="/static/images/icon-3.png" class="icon" alt="">
                                    <h5>Planing</h5>
                                </div>
                            </div>
                        </div>
       

                    </div>
                </div>
            </div>
        </section>
        <!-- Projects 2 -->
        <div class="projects2 section-padding">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="sub-title border-bot-light">Discover</div>
                    </div>
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="section-title"><span>Projects</span></div>
                        <p>Buildtech builders are committed to building innovative high quality, functional, sustainable and value-for-money homes packed with superior architecture technology and construction and prompt delivery for customers.</p>
                    </div>
                </div>
                <div class="row text-center animate-box" data-animate-effect="fadeInUp">
                    <ul class="projects2-filter">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".ongoing">Ongoing Projects</li>
                        <li data-filter=".completed">Completed Projects</li>
                    </ul>
                </div>
                 
                <div class="row projects2-items animate-box" data-animate-effect="fadeInUp">
                   
                    <div class="col-md-6 single-item ongoing">
                        <div class="projects2-wrap">
                            <a href="/projects/"><img src="/static/images/projects/10.jpg" alt=""></a>
                            <div class="projects2-con">
                                <p>Project P.01</p>
                                <h3><a href="/projects/">Golden Vale Home</a></h3>
                                <a href="/projects/" class="project2-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 single-item completed">
                        <div class="projects2-wrap">
                            <a href="/projects/"><img src="/static/images/projects/08.jpg" alt=""></a>
                            <div class="projects2-con">
                                <p>Project P.02</p>
                                <h3><a href="/projects/">Mid-Ridge House</a></h3>
                                <a href="/projects/" class="project2-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 single-item ongoing">
                        <div class="projects2-wrap">
                            <a href="/projects/"><img src="/static/images/projects/09.jpg" alt=""></a>
                            <div class="projects2-con">
                                <p>Project P.03</p>
                                <h3><a href="/projects/">Homestead House</a></h3>
                                <a href="/projects/" class="project2-link"></a>
                            </div>
                        </div>
                    </div>
                   
                </div>
               
                 
                
            </div>
        </div>

        <!-- Testiominals -->
        <section class="testimonials">
            <div class="background bg-img bg-fixed section-padding" data-background="/static/images/slider/3.jpg" data-overlay-dark="6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-30">
                            <h3 class="sub-title border-bot-dark">Testiominals</h3>
                        </div>
                        <div class="col-md-8">
                            <div class="section-title">What Client's Say?</div>
                            <div class="wrap">
                                <div class="owl-carousel owl-theme">
                                    <div class="item"> <span class="quote"><img src="/static/images/quot.png" alt=""></span>
                                        <p>Working with Kenz Architects and Interiors was such a wonderful experience. From my initial inquiry to the final reveal, they made the entire design project process so easy. The interior designer they teamed me up with could not have been more perfect. Thank you so much for helping me create such a beautiful home. I could never have done it without you !</p>
                                        <div class="info">
                                            <div class="author-img"> <img src="/static/images/team/1.jpg" alt=""> </div>
                                            <div class="cont">
                                                <h6>Jason Brown</h6> <span>Crowne Plaza Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item"> <span class="quote">
                                            <img src="/static/images/quot.png" alt="">
                                        </span>
                                        <p>Dear Kenz Architects and Interiors team, we are well pleased with your work that made our old home a beautiful contemporary one. Everyone saw the house got amazed the way you changed an old house to current manner and it was above our expectation. Would like to really appreciate the whole Kenz Architects and Interiors team for your hard work and talents.</p>
                                        <div class="info">
                                            <div class="author-img"> <img src="/static/images/team/2.jpg" alt=""> </div>
                                            <div class="cont">
                                                <h6>Emily White</h6> <span>Armada Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function(){
                $("#home").addClass("active");
            });
        </script>
        
    {% endblock %}   