{% extends 'headerfooter.html' %}
{% block content %}

        <!-- Services -->
        <section class="services section-padding">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="sub-title border-bot-light">What We Do</div>
                    </div>
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="section-title"><span>Our</span> Services</div>
                        <p>As we are one of the best architectural firms in Kerala, our services are rooted in a deep understanding of the client’s needs and aspirations and each project is approached with a fresh perspective of creating spaces that are unique. The firm’s commitment as the leading architectural consultancy in Kochi, to designing and shaping better communities, with sustainable and durable practices is achieved through the integration of smart and flexible design features.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-4">
                    <div class="row">
                        {% for x in details %}
                    <div class="col-md-6 mb-5 animate-box" data-animate-effect="fadeInUp">
                        <div style="background-image: url('{{x.image.url}}');" >
                            <div class="con">
                                <a href="/servicespage/?uid={{x.id}}">
                                <div class="numb"></div>
                                <h5>{{x.name}}</h5>
                                <p>{{x.desc}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                    <!-- <div class="col-md-6 mb-5 animate-box" data-animate-effect="fadeInUp">
                        <div class="item bg-2">
                            <div class="con">
                                <a href="/servicespage/">
                                <div class="numb">02</div>
                                <h5>Interior Design</h5>
                                <p>Interior design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 mb-5 animate-box" data-animate-effect="fadeInUp">
                        <div class="item bg-3">
                            <div class="con">
                                <a href="/servicespage/">
                                <div class="numb">03</div>
                                <h5>Urban Design</h5>
                                <p>Urban design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 mb-5 animate-box" data-animate-effect="fadeInUp">
                        <div class="item bg-4">
                            <div class="con">
                                <a href="/servicespage/">
                                <div class="numb">04</div>
                                <h5>Planing</h5>
                                <p>Architecture bibendum eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae justo pulvinar cursus.</p>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 mb-5 animate-box" data-animate-effect="fadeInUp">
                        <div class="item bg-5">
                            <div class="con">
                                <a href="/servicespage/">
                                <div class="numb">05</div>
                                <h5>3D Modelling</h5>
                                <p>Interior design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 mb-5 animate-box" data-animate-effect="fadeInUp">
                        <div class="item bg-6">
                            <div class="con">
                                <a href="/servicespage/">
                                <div class="numb">06</div>
                                <h5>Decor Plans</h5>
                                <p>Urban design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    </div>
                    </div>
                </div>
            </div>
        </section>
      <!-- ARCHITECTURE
       Our mission is to give our Clients the most effective, efficient and beautiful concept for their architectural needs in the best and most friendly way possible. We give great attention to details and preferences provided by our Customers

       INTERIOR DESIGNING
Our mission is to give our Clients the most effective, efficient and beautiful concept for their interior needs in the best and most friendly way possible. We give great attention to details and preferences provided by our Customers

LANDSCAPE
Being one of the leading architects in Kerala, Kenz Architects and Interiors has an approach to landscaping that has a firm basis in practicality issues stemming from maintenance.

PRODUCT DESIGN
Kenz Architects and Interiors, the best Interior designers In Kannur, Kerala takes the time to design the product from scratch so as to make sure every aspect of the project is theme-consistent and not out of place.
 -->
        <!-- Lets Talk -->
        
         {% endblock %}   