{% extends 'headerfooter.html' %}
{% block content %}
 <style type="text/css">
    {% for x in details %}

                                .bg-service{{forloop.counter}}:hover{
                                    background-image: url('{{x.image.url}}');
                                    background-size: 100%;
                                }
                                {% endfor %}
                            </style>
        <!-- Services -->
        <section class="services section-padding">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="sub-title border-bot-light">What We Do</div>
                    </div>
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="section-title">Our Services</div>
                        <p>As we are one of the best architectural firms in Kerala, our services are rooted in a deep understanding of the client’s needs and aspirations and each project is approached with a fresh perspective of creating spaces that are unique. The firm’s commitment as the leading architectural consultancy in Kochi, to designing and shaping better communities, with sustainable and durable practices is achieved through the integration of smart and flexible design features.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-4">
                    <div class="row">
                        {% for x in details %}
                    <div class="col-md-6 mb-5 animate-box" data-animate-effect="fadeInUp">
                        <div  class="bg-service{{forloop.counter}}">
                           
                            <div class="con">
                                <a href="/servicespage/?uid={{x.id}}">
                                <div class="numb"></div>
                                <h5>{{x.name}}</h5>
                                <p>{{x.desc}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                   
                    </div>
                    </div>
                </div>
            </div>
        </section>
      <script>
            $(document).ready(function(){
                $("#services").addClass("active");
            });
        </script>
        
         {% endblock %}   