{% extends 'headerfooter.html' %}
{% block content %}

        <!-- Services Page -->
        <section class="about section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInUp">
                        <div class="sub-title border-bot-light">Services</div>
                    </div>
                    {% for x in details %}
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInUp">
                        <div class="section-title"><span>{{x.name}}</span></div>
                        <p>{{x.desc}}</p><br>
                        <div class="row">
                            <div class="col-md-6 gallery-item">
                                <a href="/static/images/projects/07.jpg" title="Interior Design" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="{{x.image.url}}" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                    </div>
                                </a>
                            </div>
                            <!-- <div class="col-md-6 gallery-item">
                                <a href="/static/images/projects/08.jpg" title="Interior Design" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="/static/images/projects/08.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                    </div>
                                </a>
                            </div> -->
                            <!-- <div class="col-md-12 gallery-item">
                                <a href="/static/images/slider/1.jpg" title="Interior Design" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="/static/images/slider/1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                    </div>
                                </a>
                            </div> -->
                            <div>
                                <button>get in price</button>
                            </div>
                           <!--  <div class="col-md-6 gallery-item">
                                <a href="/static/images/slider/4.jpg" title="Interior Design" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="/static/images/slider/4.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                    </div>
                                </a>
                            </div> -->
                            <!-- <div class="col-md-6 gallery-item">
                                <a href="/static/images/slider/5.jpg" title="Interior Design" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"> <img src="/static/images/slider/5.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                        <div class="gallery-detail text-center"> <i class="ti-fullscreen"></i> </div>
                                    </div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Other Services -->
        <section class="services section-padding">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="sub-title border-bot-light">Moreover</div>
                    </div>
                    <div class="col-md-8">
                        <div class="section-title"><span>Other</span> Services</div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item bg-1 mb-4">
                            <div class="con">
                                <a href="services-page.html">
                                <div class="numb">01</div>
                                <h5>Architecture</h5>
                                <p>Architecture bibendum eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae justo pulvinar cursus.</p>
                                </a>
                            </div>
                        </div>
                        <div class="item bg-2 mb-4">
                            <div class="con">
                                <a href="services-page.html">
                                <div class="numb">02</div>
                                <h5>Interior Design</h5>
                                <p>Interior design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                        <div class="item bg-3 mb-4">
                            <div class="con">
                                <a href="services-page.html">
                                <div class="numb">03</div>
                                <h5>Urban Design</h5>
                                <p>Urban design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                        <div class="item bg-4 mb-4">
                            <div class="con">
                                <a href="services-page.html">
                                <div class="numb">04</div>
                                <h5>Planing</h5>
                                <p>Architecture bibendum eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae justo pulvinar cursus.</p>
                                </a>
                            </div>
                        </div>
                        <div class="item bg-5 mb-4">
                            <div class="con">
                                <a href="services-page.html">
                                <div class="numb">05</div>
                                <h5>3D Modelling</h5>
                                <p>Interior design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                        <div class="item bg-6 mb-4">
                            <div class="con">
                                <a href="services-page.html">
                                <div class="numb">06</div>
                                <h5>Decor Plans</h5>
                                <p>Urban design eros eget lacus the vulputate, sit amet vehicula nibh placerat in lectus vitae the justo pulvinar of cursus.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- Lets Talk -->
        
        {% endblock %}