<!DOCTYPE HTML>
<html>
<head>
<title>Augment an Admin Panel Category Flat Bootstrap Responsive Web Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/backend/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/backend/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/backend/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/static/backend/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="/static/backend/js/jquery-1.10.2.min.js"></script>
<!--clock init-->
</head> 
<body>
        


<div class="error_page">
                                                <!--/login-top-->
                                                
                                                    <div class="error-top">
									   
									   <div class="graph-visual tables-main">
											<h2 class="inner-tittle page">Contact Us</h2>

<div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                        
                        <form method="post"  action="/admin_contacts/">
                            {% csrf_token %}
                            <!-- Form message -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert"> Your message was sent successfully. </div>
                                </div>
                            </div>
                            <!-- Form elements -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Your Name *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="email" type="email" placeholder="Your Email *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="phone" type="text" placeholder="Your Number *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="subject" type="text" placeholder="Subject *" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *" required></textarea>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <input name="submit" type="submit" value="Send Message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                    </div>
                                            </div>
                                                    <div class="footer">
                                                <div class="error-btn">
                                                            <a class="read fourth" href="/admin_index/">Return to Home</a>
                                                            </div>
                                           <p>&copy 2016 Augment . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts.</a></p>
                                        </div>
                                    <!--footer section end-->
                                    <!--/404-->
<!--js -->
<script src="/static/backend/js/jquery.nicescroll.js"></script>
<script src="/static/backend/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/static/backend/js/bootstrap.min.js"></script>
</body>
</html>
                            