 {% extends 'admin/headerfooter.html' %}
 {% block content %}
						<div class="outter-wp">
							<h4 style="color:green; text-align: center;">{{success}}</h4>
							
								<!--custom-widgets-->
												<div class="custom-widgets">
												   <div class="row-one">
														<div class="col-md-3 widget">
															<div class="stats-left ">
																<h5><a href="/admin_services/">Form</a></h5>
																<h2><a href="/admin_services/">Service  </a></h2>
                                <a href="/admin_services/" class="project2-link"></a>
															</div>
															<!-- <div class="stats-right">
																<label>90</label>
															</div> -->
															<div class="clearfix"> </div>	
														</div>
														<div class="col-md-3 widget states-mdl">
															<div class="stats-left">
																<h2><a href="/admin_services/">Service Form </a></h2>
                                <a href="/admin_services/" class="project2-link"></a>
															</div>
															<!-- <div class="stats-right">
																<label> 85</label>
															</div> -->
															<div class="clearfix"> </div>	
														</div>
														<div class="col-md-3 widget states-thrd">
															<div class="stats-left">
																<h5>Today</h5>
																<h4>Tasks</h4>
															</div>
															<!-- <div class="stats-right">
																<label>51</label>
															</div> -->
															<div class="clearfix"> </div>	
														</div>
														<div class="col-md-3 widget states-last">
															<div class="stats-left">
																<h5>Today</h5>
																<h4>Alerts</h4>
															</div>
															<!-- <div class="stats-right">
																<label>30</label>
															</div> -->
															<div class="clearfix"> </div>	
														</div>
														<div class="clearfix"> </div>	
													</div>
												</div>

												
												


												<!-- <section class="features-4">
		<div class="content-gd col-lg-4">
		<h4 class="hny-title">WHAT MAKES US THE BEST</h4>
	    </div>
		<div class="features4-block py-5">
			<div class="container py-lg-5">
				<div class="features4-grids text-center row">
					<div class="col-lg-3 col-md-6 features4-grid">
						<div class="features4-grid-inn">
						    <h5><a href="#URL">Professional experts</a></h5>
							<p>Professional, well-trained, reliable cleaners that have been thoroughly screened before being hired!</p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid sec-features4-grid">
						<div class="features4-grid-inn">
							<h5><a href="#URL">No Hidden Cost</a></h5>
							<p>No additional charges or hidden cost. You only pay for what you ordered!</p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid">
						<div class="features4-grid-inn">
							<h5><a href="#URL">Same Day Available</a></h5>
							<p>Booking takes less than 60 seconds! And you can schedule for as early as today</p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid">
						<div class="features4-grid-inn">
							<h5><a href="#URL">Superior Customer Service</a></h5>
							<p>We are here to help you with all our resources at all times.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
									{% endblock %}
									 									}
