 {% extends 'admin/headerfooter.html' %}
 {% block content %}
<style>
table, th,td,tr {
  border:1px solid black;
}
</style>
					<!-- //header-ends -->
						<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="index.html">Home</a></li>
											<li class="active">Tables</li>
										</ol>
									   </div>
								  <!--//sub-heard-part-->
									<div class="graph-visual tables-main">
											<h2 class="inner-tittle">Project Table</h2>
												<div class="graph">
														<div class="tables">
																
																<table class="table">
												  <thead>
												    <tr>
												      <th scope="col">No</th>
												      <th scope="col">Name</th>
												      <th scope="col">Image</th>
												    </tr>
												  </thead>
												  <tbody>
												 {% for x in details %}
												    <tr>
												      <th scope="row">{{forloop.counter}}</th>
												      <td>{{x.name}}</td>
												      <td><img src="{{x.image.url}}" width="200" height="200"></td>
												     
												     <th><a href="/admin_projupd/?uid={{x.id}}"><i class="fa fa-edit"></i></a></th>
                                                   <th><a href="/admin_projdlt/?did={{x.id}}"><i class="lnr lnr-layers"></i></a></th>
												     
												    </tr>
												    {% endfor %}
												  </tbody>
												</table>
															</div>
												
										        </div>
												
										</div>
										<!--//graph-visual-->
									</div>
									<!--//outer-wp-->
									{% endblock %}